<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Wedding Form</title>
</head>
<body>
    <h1>Wedding Form</h1>
    <form action="#" th:action="@{/submit}" method="post">
        <label for="role">Guest</label>
        <select id="role" name="guest">
            <option value="groom">Groom`s side/option>
            <option value="bride">Bride`s side</option>
        </select>
        <br>
        <label for="relation">Relation:</label>
        <input type="text" id="relation" name="relation" required>
        <br>
        <label for="name">Guest Name:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <button type="submit">Upload</button>
    </form>
</body>
</html>