<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default_layout}">
<th:block layout:fragment="content">
 
<div class="PageCenter">
    <h1 th:text="#{submitform.header}">Title</h1>
    <p th:text="#{submitform.message}"> </p>
    <br><br>

    <form th:action="@{/informationForm}" method="post">
        <label for="guest" th:text="#{submitform.guest}">guest:</label>
        <select id="guest" name="guest">
            <option th:value="#{submitform.groom}" th:text="#{submitform.groom}">Groom</option>
            <option th:value="#{submitform.bride}" th:text="#{submitform.bride}">Bride</option>
        </select><br/>
        <label for="relation" th:text="#{submitform.relation}">Relation:</label>
        <input type="text" id="relation" name="relation" /><br/>
        <label for="name" th:text="#{submitform.name}">Name:</label>
        <input type="text" id="name" name="name" /><br/>
        <br/>
        <button type="submit" th:text="#{submitform.submit}">Submit</button>
    </form>
</div>

</th:block>
</html>